# Server config
PORT=5000
NODE_ENV=development

# MongoDB Connection
# For local DB: mongodb://127.0.0.1:27017/venile
# For Atlas (cloud): replace with your cluster string
MONGO_URI=mongodb://127.0.0.1:27017/venile

# JWT Secret (generate a strong random string for production)
JWT_SECRET=supersecretjwtkey_please_change_for_prod
